.App {
  text-align: center;
  background-color: #141003;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ECC440;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ECC440;
}

.Fortune-box-wrap {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #ECC440 0%, #FFFA8A 25%, #DDAC17 50%, #FFFF95 100%);
  border-image-slice: 1;
}

.Fortune-box {
  padding: 2rem;
  margin: 2rem;
  width: 80vh;
}

.App-link {
  color: #FFFF95;
}

.App-footer {
  font-size: 14px;
  color: #ECC440;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.App-button {
  background-image: linear-gradient(to right, #ECC440 0%, #FFFA8A 25%, #DDAC17 50%, #FFFF95 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: 141003;
  border-radius: 10px;
  display: block;
}

.App-button:hover {
  background-position: right center;
  color: #8f751b;
  text-decoration: none;
  box-shadow: 0 0 20px #8f751b;
}

/* .App-settings-button {
  background-color: #141003;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
} */

.App-settings-button {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  border: .1875em solid;
  padding: 1em;
  margin: 0.5em;
  color: #ECC440;
  background: transparent;
  border-radius: .125em;
  transition: background .3s;
}

.App-settings-button:hover,
.App-settings-button:focus {
  color: #141003;
  background: #ECC440;
  border-color: #ECC440;
}

.App-settings-button:active {
  top: .08em;
}

.svg-icon {
  /* Place the icon on the text baseline. */
  position: relative;
  top: .125em;

  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;

  /* Scale the icon to match the font-size of the parent element. */
  height: 1em;
  width: 1em;

  /* Let the icon take whatever color the parent has. */
  fill: currentColor;

  /*
   * If the icon is used on a link, which has a color transition,
   * we can also use a transition on the fill value.
  */
  transition: fill .3s;
}